[tool.black]
line-length = 127
target-version = ['py311']
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.venv
  | \.eggs
  | \.tox
  | build
  | dist
  | migrations
  | static
  | media
)/
'''

[tool.isort]
profile = "black"
line_length = 127
skip_gitignore = true
skip = ["migrations", ".venv", "venv", "env", "static", "media"]
known_first_party = ["booking", "gym", "fitzone"]