<footer class="bg-dark text-white py-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5><strong>FIT</strong>ZONE</h5>
                <p>Your journey to fitness starts here. Professional trainers, modern equipment, proven programs.</p>
            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    {% comment %} <li><a href="" class="text-white-50">Programs</a></li>
                    <li><a href="" class="text-white-50">Trainers</a></li>
                    <li><a href="" class="text-white-50">Book Class</a></li> {% endcomment %}
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Contact</h5>
                <p>
                    <i class="fa fa-map-marker"></i> 123 Fitness Street<br>
                    <i class="fa fa-phone"></i> +1234567890<br>
                    <i class="fa fa-envelope"></i> info@fitzone.com<br>
                    <i class="fa fa-clock-o"></i> Mon-Sun: 6AM - 10PM
                </p>
            </div>
        </div>
        <hr class="bg-light">
        <div class="text-center">
            <p>&copy; 2024 FitZone. All Rights Reserved.</p>
        </div>
    </div>
</footer>